<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bomberman Project</title>
        <script src="//cdn.jsdelivr.net/phaser/2.6.2/phaser.min.js"></script>
        <script src="views/states/boot.js"></script>
        <script src="views/states/load.js"></script>
        <script src="views/states/menu.js"></script>
        <script src="views/states/map.js"></script>
        <script src="views/states/play.js"></script>
        <script src="views/states/game.js"></script>

        <style>
            body {
                background-color: black;
            }
            
            canvas {
                display: block;   
                margin: auto;
            }
        </style>


    </head>
    <body>
        <div class="game" style = "display : block;   margin: 0 auto;"></div>
    </body>
</html>