<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bomberman Project</title>

        <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
        <link rel='shortcut icon' href='/res/favicon.ico' type='image/x-icon'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <style>
            body {
                font-family: 'Coiny', cursive;
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/res/bg.png');
                background-position: top left;
                /*-webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;*/
            }
            
            canvas {
                display: block;
                margin-left: auto;
                margin-right: auto;
                border: 2px solid black;

            }

            .btn {
                margin: 0 auto;
            }

            .navigation {
                margin-top: 30px;
                margin-bottom: 20px;
            }

            .about {
                font-size: 20px;
                font-weight: bold;
                height: 70px;
                width: 200px;
                margin-left: 40px;
            }

            .tut {
                font-size: 20px;
                font-weight: bold;
                height: 70px;
                width: 200px;
                margin-right: auto;
                margin-left: auto;
                margin-left: 30px;
            }

            /*Animation for hover*/
            @-webkit-keyframes hvr-bob {
                0% {
                    -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
                }
                50% {
                    -webkit-transform: translateY(-4px);
                    transform: translateY(-4px);
                }
                100% {
                    -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
                }
            }

            @keyframes hvr-bob {
                0% {
                    -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
                }
                50% {
                    -webkit-transform: translateY(-4px);
                    transform: translateY(-4px);
                }
                100% {
                    -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
                }
            }

            @-webkit-keyframes hvr-bob-float {
                100% {
                    -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
                }
            }

            @keyframes hvr-bob-float {
                100% {
                    -webkit-transform: translateY(-8px);
                    transform: translateY(-8px);
                }
            }

            .hvr-bob {
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px transparent;
            }

            .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
                -webkit-animation-name: hvr-bob-float, hvr-bob;
                animation-name: hvr-bob-float, hvr-bob;
                -webkit-animation-duration: .3s, 1.5s;
                animation-duration: .3s, 1.5s;
                -webkit-animation-delay: 0s, .3s;
                animation-delay: 0s, .3s;
                -webkit-animation-timing-function: ease-out, ease-in-out;
                animation-timing-function: ease-out, ease-in-out;
                -webkit-animation-iteration-count: 1, infinite;
                animation-iteration-count: 1, infinite;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                -webkit-animation-direction: normal, alternate;
                animation-direction: normal, alternate;
            }


        </style>

        <script src="//cdn.jsdelivr.net/phaser/2.6.2/phaser.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        
        <script src="views/states/boot.js"></script>
        <script src="views/states/load.js"></script>
        <script src="views/states/menu.js"></script>
        <script src="views/states/lobby.js"></script>
        <script src="views/states/map.js"></script>
        <script src="views/states/room.js"></script>
        <script src="views/states/play.js"></script>
        <script src="views/states/game.js"></script>

    </head>
    <body>

    <div class="container">
        <div class="row">
            <div class="game"></div>
        </div>


        <div class="navigation">
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <button onclick="location.href='/about';" type="button"
                            class="hvr-bob about btn btn-default">About us
                    </button>
                </div>
                <div class="col-md-3">
                    <button onclick="location.href='/howtoplay';" type="button"
                            class="hvr-bob tut btn btn-default">How to play
                    </button>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>