<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bomberman Project</title>

        <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
        
        <style>
            body {
                background-color: black;
                font-family: 'Coiny', cursive;
            }
            
            canvas {
                display: block;   
                margin: auto;
            }
        </style>

        <script src="//cdn.jsdelivr.net/phaser/2.6.2/phaser.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        
        <script src="views/states/boot.js"></script>
        <script src="views/states/load.js"></script>
        <script src="views/states/menu.js"></script>
        <script src="views/states/lobby.js"></script>
        <script src="views/states/map.js"></script>
        <script src="views/states/room.js"></script>
        <script src="views/states/play.js"></script>
        <script src="views/states/game.js"></script>

    </head>
    <body>
        <div class="game" style = "display : block;   margin: 0 auto;"></div>
    </body>
</html>